[Unit]
Description=dyndns-client
Requires=docker.service network-online.target time-sync.target
After=docker.service network-online.target time-sync.target

[Service]
Type=simple
ExecStartPre=/usr/bin/docker pull docker.io/volkerraschek/dyndns-client:latest
ExecStart=/usr/bin/docker run --name=dyndns-client --network=host --privileged --rm --volume /etc/dyndns-client:/etc/dyndns-client docker.io/volkerraschek/dyndns-client:latest
ExecStop=/usr/bin/docker stop dyndns-client

[Install]
WantedBy=multi-user.target
